---
http_interactions:
- request:
    method: post
    uri: https://api.ce-cotoha.com/api/dev/nlp/v1/sentence_type
    body:
      encoding: UTF-8
      string: '{"sentence":"近くのレストランはどこですか？","type":null}'
    headers:
      Authorization:
      - Bearer CorrectAccessToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "result" : {
            "modality" : "interrogative",
            "dialog_act" : [ "information-seeking" ]
          },
          "status" : 0,
          "message" : ""
        }
  recorded_at: Wed, 19 Feb 2020 12:21:45 GMT
recorded_with: VCR 5.1.0
