---
http_interactions:
- request:
    method: post
    uri: https://api.ce-cotoha.com/v1/oauth/accesstokens
    body:
      encoding: UTF-8
      string: '{"grantType":"client_credentials","clientId":"IncorrectClientId","clientSecret":"IncorrectClientSecret"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":{},"message":"An error has occurred.","status":401}'
  recorded_at: Mon, 17 Feb 2020 12:08:55 GMT
recorded_with: VCR 5.1.0
