---
http_interactions:
- request:
    method: post
    uri: https://api.ce-cotoha.com/api/dev/nlp/v1/similarity
    body:
      encoding: UTF-8
      string: '{"s1":"近くのレストランはどこですか？","s2":"このあたりの定食屋はどこにありますか？","type":null,"dic_type":null}'
    headers:
      Authorization:
      - Bearer CorrectAccessToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "result" : {
            "score" : 0.88565135
          },
          "status" : 0,
          "message" : "OK"
        }
  recorded_at: Wed, 19 Feb 2020 12:10:40 GMT
recorded_with: VCR 5.1.0
