---
http_interactions:
- request:
    method: post
    uri: https://api.ce-cotoha.com/v1/oauth/accesstokens
    body:
      encoding: UTF-8
      string: '{"grantType":"client_credentials","clientId":"CorrectClientId","clientSecret":"CorrectClientSecret"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\n          {\n            \"access_token\": \"AnEffectiveAccessToken\",
        \n            \"token_type\": \"bearer\",\n            \"expires_in\": \"86399\"
        ,\n            \"scope\": \"\" ,    \n            \"issued_at\": \"1581940607332\"
        \          \n           }\n        "
  recorded_at: Mon, 17 Feb 2020 11:56:47 GMT
recorded_with: VCR 5.1.0
